<div class="task">
    <h3>
        {{task.text}}     
        <app-button 
            color="red" 
            text="X" 
            (click)="onDelete(task)">
        </app-button>
    </h3> 
    <p>{{task.date}}</p>
</div>
